+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p", text:"テーブル"})
		+m-table01({tag:"div"})
			thead
				tr
					th テキスト
					th テキスト
					th テキスト
			tbody
				tr
					th テキスト
					td!= DUMMY_TEXT_400
					td
						ol
							li!= DUMMY_TEXT_50
							li!= DUMMY_TEXT_50
	