extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../../../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}
block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			//- デフォルトテキストセット(WYSIWYG) ----------------------------------------------------------------------------------------------------------------------
			include _m_defaultTag
			
			//- ディスクリスト ----------------------------------------------------------------------------------------------------------------------
			include _m_discList01
			
			//- 数字リスト ----------------------------------------------------------------------------------------------------------------------
			include _m_decimalList01

			//- テキストリンク ----------------------------------------------------------------------------------------------------------------------
			include _m_linkModule01
			
			//- テーブル ----------------------------------------------------------------------------------------------------------------------
			include _m_table01
			
			//- パンくず ----------------------------------------------------------------------------------------------------------------------
			include _m_breadcrumb01

			//- ラベル ----------------------------------------------------------------------------------------------------------------------
			include _m_textLabel01