//- モジュール - ボタンモジュール01
.m-btnSet01
	marginBottom(30)
	
	a
		display block
		iconTagSet('.btnWrapper')
		color inherit
		border 1px solid #ccc
		text-decoration none

	.btnWrapper
		display block
		position relative
		padding 20px 40px 20px 20px
		box-sizing border-box
		
		