.c-imageBgSet
	position relative
	marginBottom(60)

	+MQ_SP(SP_RES_WID)
		display block
	
	.bg
		width 100%
		img
			width 100%
			height auto

	.contentsArea
		flexBox()
		flex-flow column
		justify-content center
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		padding 20px
		box-sizing border-box

		&.is-left
			align-items flex-start

		&.is-right
			align-items flex-end
		
		&.is-center
			align-items center
			