//- コンポーネント - 画像背景コンポーネント01
.c-imageBgSet01
	position relative

	&.is-left
		.contentsArea
			align-items flex-start

	&.is-right
		.contentsArea
			align-items flex-end
	
	&.is-center
		.contentsArea
			align-items center

	+MQ_SP(SP_RES_WID)
		display block
	
	.bg
		width 100%
		.image
			width 100%
			img
				max-width inherit
				width 100%
				height auto

	.contentsArea
		flexBox()
		flex-flow column
		justify-content center
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		padding 20px
		box-sizing border-box
