//- コンポーネント - 画像コンポーネント01
.c-imageSet02
	.imageArea
		+MQ_SP(SP_RES_WID)
			.image
				img
					width 100%
	.textArea
		position relative
		width calc(100% - 20px)
		margin -20px auto 0
		padding 20px
		background-color SITE_BG01
		box-sizing border-box
		z-index 1