//- コンポーネント - 画像+テキストコンポーネント02
.c-imageText02
	PADDING = 20px

	&.is-imageRight
		+MQ_PC(SP_RES_WID)
			.imageBlock
				float right
				padding-left PADDING

	&.is-imageLeft
		+MQ_PC(SP_RES_WID)
			.imageBlock
				float left
				padding-right PADDING
			
	.imageBlock
		+MQ_SP(SP_RES_WID)
			width 100%
			margin-bottom 10px
			padding 0
	
	.textBlock
		width 100%
	
	
	.m-imageSet01
		+MQ_SP(SP_RES_WID)
			width 100%
		
		img
			max-width inherit
			+MQ_SP(SP_RES_WID)
				max-width 100%