.l-markupBlock
	marginBottom(30)
	.p-markupBtn
		cursor pointer
		display table
		margin-bottom 10px
		padding 5px
		border 1px solid #fff
		fontSize(11)
		font-weight bold
		line-height 1.0

		&.pug
			background-color #e0f0f0
			&+.source
				pre
					padding 10px 15px
					background-color #e0f0f0
		&.stylus
			background-color #f0e0f0
			&+.source
				pre
					padding 20px 15px
					background-color #f0e0f0
		&.js
			background-color #f0f0e0
			&+.source
				pre
					padding 10px 15px
					background-color #f0f0e0

	.source
		pre
			marginBottom(10)
			border 1px solid #fff
			fontSize(11)

.l-markupBox
	marginBottom(30)

.m-markupTitle
	display table
	margin-bottom 10px !important
	padding 5px
	color #fff
	background-color #000
	fontSize(10)
	line-height 1.0