.c-tableSet
	marginBottom(60)
	table
		width 100%
	
	th, td
		padding 15px
		box-sizing border-box
		border 1px solid #ccc
		fontSize(14)

		+MQ_SP(SP_RES_WID)
			padding 10px
			fontSize(12)
	
	thead
		th
			background-color #dfdfdf
	tbody
		th
			background-color #efefef