+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p", text:"数字リスト"})
		+m-decimalList01
			li 数字リスト
				ol
					li 数字リスト
						ol
							li 数字リスト
	+l-columnBox({tag:"div"})
		.c-memoSet01
			.group.is-before
				.block.is-text
					.area.is-text
						ul.tab
							li.is-current 使用モジュール
							li 使い方
							li pug
							li html
			.group.is-primary.is-current
				.block.is-text
					.area.is-code
						ul.m-discList01
							li
								a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_decimalList01.zip") m-decimalList01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									+m-decimalList01
										li ディスクリスト
											ol
												li ディスクリスト
													ol
														li ディスクリスト
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									ol.m-decimalList01
										li 数字リスト
											ol
												li 数字リスト
													ol
														li 数字リスト
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.html
								:escape-html
									<ol class="m-decimalList01">
										<li>数字リスト
											<ol>
												<li>数字リスト
													<ol>
														<li>数字リスト</li>
													</ol>
												</li>
											</ol>
										</li>
									</ol>