+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p", text:"パンくず"})
		+m-breadcrumb01({list:[{text:"ホーム", url:"#"}, {text:"下層ページ", url:"#"}, {text:"下層ページ"}]})
	+l-columnBox({tag:"div"})
		.c-memoSet01
			.group.is-before
				.block.is-text
					.area.is-text
						ul.tab
							li.is-current 使用モジュール
							li 使い方
							li pug
							li html
			.group.is-primary.is-current
				.block.is-text
					.area.is-code
						ul.m-discList01
							li
								a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_breadcrumb01.zip") m-breadcrumb01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									+m-breadcrumb01(
										tag : "div", //タグ
										baseName:  "m-breadcrumb01", //ベースclass
										className: "", // 追加class
										list: [{text:"ホーム", url:"#"}, {text:"下層ページ", url:"#"}, {text:"下層ページ"}]) // リスト

									+m-breadcrumb01([{text:"ホーム", url:"#"}, {text:"下層ページ", url:"#"}, {text:"下層ページ"}])
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									.m-breadcrumb01
										ol
											li
												a(href="")
													span ホーム
											li
												a(href="")
													span 下層ページ
											li
												span 下層ページ

			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.html
								:escape-html
									.
										<div class="m-breadcrumb01 ">
											<ol>
												<li>
													<a href="#">
														<span>ホーム</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span>下層ページ</span>
													</a>
												</li>
												<li>
													<span>下層ページ</span>
												</li>
											</ol>
										</div>