+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p", text:"ラベル"})
		+m-textLabel01({tag:"p", text:"ラベル01", className:"is-red01"})
	+l-columnBox({tag:"div"})
		.c-memoSet01
			.group.is-before
				.block.is-text
					.area.is-text
						ul.tab
							li.is-current 使用モジュール
							li 使い方
							li pug
							li html
			.group.is-primary.is-current
				.block.is-text
					.area.is-code
						ul.m-discList01
							li
								a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_defaultTag.zip") m-defaultTag
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									+m-textLabel01({tag:"p", text:"ラベル01", className:"is-red01"})

									色を帰る場合は、classNameで設定する
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									p.m-textLabel01.is-red01
										span.is-text ラベル01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.html
								:escape-html
									<p class="m-textLabel01 is-red01">
										<span class="is-text">ラベル01</span>
									</p>