+c-liquidHalfSet01({tag:"div", className:"is-contentsLeft", before:true})
	.group.is-before
		.block.is-title
			+m-componentTitle01({tag:"h3",text:"可変要素+可変コンテンツセット01"})
	.group.is-primary
		.block.is-contents
			.area.is-image(style='background-image: url(https://placeimg.com//400/250/animals)')
		.block.is-contents
			.area.is-title
				+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
			.area.is-text
				.m-defaultTag
					p!= DUMMY_TEXT_100