extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../../../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}
block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents


	//- 分割セット01 ---------------------------------------------------------------------------------------------------------------------------
	+l-columnBlock({tag:"div"})
		+l-contentsWidth({tag:"div"})
			+l-columnBox({tag:"div"})
				+l-mqWrapper({tag:"div"})
					include _c_halfSet01

	//- 固定要素+コンテンツセット01 ---------------------------------------------------------------------------------------------------------------------------
	+l-columnBlock({tag:"div"})
		+l-contentsWidth({tag:"div"})
			+l-columnBox({tag:"div"})
				+l-mqWrapper({tag:"div"})
					include _c_fixedHalfSet01

	//- 可変要素+可変コンテンツセット01 ---------------------------------------------------------------------------------------------------------------------------
	+l-columnBlock({tag:"div"})
		+l-contentsWidth({tag:"div"})
			+l-columnBox({tag:"div"})
				+l-mqWrapper({tag:"div"})
					include _c_liquidHalfSet01

	//- 背景要素+コンテンツセット01 ---------------------------------------------------------------------------------------------------------------------------
	+l-columnBlock({tag:"div"})
		+l-contentsWidth({tag:"div"})
			+l-columnBox({tag:"div"})
				+l-mqWrapper({tag:"div"})
					include _c_bgContentsSet01