extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "canvas",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}

block library

block header
	+c-templateHeader01
block footer
	+c-templateFooter01

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				
				.m-canvasCircle01
					a(href="")
						.group.is-primary
							.block.is-circle
								canvas(width=100 height=100).js-canvasCircle01
							.block.is-text
								p
									span テキストだよテキストだよテキストだよ
				
				
				.m-canvasCircle01
					a(href="")
						.group.is-primary
							.block.is-circle
								canvas(width=100 height=100).js-canvasCircle01
							.block.is-text
								p
									span テキストだよ
