+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - テキストボックス01
			
			+l-markupBlock
				.m-inputText01
					input(type="text")
			
			+l-markupBlock
				+p-markupBtn('pug').
					.m-inputText01
						input(type="text")

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_form/_m_inputText01.styl