+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - セレクトボックス01
			+l-markupBlock
				.m-inputSelect01
					select
						option 選択してください
			
			+l-markupBlock
				+p-markupBtn('pug').
					.m-inputSelect01
						select
							option 選択してください

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_form/_m_inputSelect01.styl