+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ラジオボタン01')
			
			+l-markupBlock
				.m-inputRadio01
					label(for="radio01")
						input(type="radio" name="radio" id="radio01" checked="checked")
						span ラベル
					label(for="radio02")
						input(type="radio" name="radio" id="radio02")
						span ラベル
			+l-markupBlock
				+p-markupBtn('pug').
					.m-inputRadio01
						label(for="radio01")
							input(type="radio" name="radio" id="radio01" checked="checked")
							span ラベル
						label(for="radio02")
							input(type="radio" name="radio" id="radio02")
							span ラベル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_formModules/_m_inputRadio01.styl