+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - テキストエリア01')
			+l-markupBlock
				.m-inputTextarea01
					textarea
			+l-markupBlock
				+p-markupBtn('pug').
					.m-inputTextarea01
						textarea

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_formModules/_m_inputTextarea01.styl
