.m-cellContentsSet01
	&>.moduleWrapper
		&>.group
			&>.block
				margin-bottom 10px
				&:last-child
					margin-bottom 0
				&>.area
					margin-bottom 10px
					&:last-child
						margin-bottom 0
					&.is-sub
						fontSize(12)