+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('アニメーション - ボックス背景色01')

			+l-markupBlock
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_animation/_a_bgColorChange01.styl

			mixin a-bgColorChange01(className)
				.a-bgColorChange01(class=className)
					block

			//- 背景色 フェード
			include _fade01

			//- 背景色 スライドライト
			include _slideRight01

			//- 背景色 スライドレフト
			include _slideLeft01

			//- 背景色 スライドボトム
			include _slideBottom01

			//- 背景色 スライドトップ
			include _slideTop01

			//- 背景色 スライドセンターアウト
			include _slideCenterOut01

			//- 背景色 スライドセンターイン
			include _slideCenterIn01