+a-bgColorChange01('is-fade01')
	+m-btnSet01('p','ボックス背景色 - フェード','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-bgColorChange01.is-fade01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_bgColorChange01/_fade01.styl