+a-bgColorChange01('is-slideLeft01')
	+m-btnSet01('p','ボックス背景色 - スライドレフト','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-bgColorChange01.is-slideLeft01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_bgColorChange01/_slideLeft01.styl