.a-bgColorChange01.is-slideCenterIn01
	p.m-btnSet01
		a(href="")
			span.btnWrapper
				span.btnInner ボックス背景色 スライドセンターイン
+l-markupBlock
	+p-markupBtn('pug').
		.a-bgColorChange01.is-slideCenterIn01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_bgColorChange01/_slideCenterIn01.styl