+a-bgColorChange01('is-slideTop01')
	+m-btnSet01('p','ボックス背景色 - スライドトップ','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-bgColorChange01.is-slideTop01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_bgColorChange01/_slideTop01.styl