+a-bgColorChange01('is-slideCenterOut01')
	+m-btnSet01('p','ボックス背景色 - スライドセンターアウト','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-bgColorChange01.is-slideCenterOut01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_bgColorChange01/_slideCenterOut01.styl