.m-bgCellContentsSet01
	&>.moduleWrapper
		&>.group
			&.is-primary
				position relative
				&>.block
					margin-bottom 10px
					&:last-child
						margin-bottom 0
					&.is-image
						width 100%
						padding-top 100%
						background-size cover
						background-repeat no-repeat
						background-position center center
					&.is-text
						position absolute
						bottom 10px
						left 10px
						width calc(100% - 20px)
						z-index 100
					&>.area
						margin-bottom 10px
						&:last-child
							margin-bottom 0
						&.is-sub
							fontSize(12)