.is-sp
	display none

	+MQ_SP(SP_RES_WID01)
		display block
		& + .is-pc
			display none

.is-spOnly
	display none
	+MQ_SP(SP_RES_WID01)
		display block

.is-pcOnly
	display none
	+MQ_PC(SP_RES_WID01)
		display block