+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p",text:"ラージタイトル01"})
		+m-largeTitle01({tag:"h3", largeTitle:"大タイトル", title:"ラージタイトル01（全要素表示）", smallTitle:"少タイトル", className:"is-center"})
			.titleBefore
				+m-textLabel01({tag:"p", text:"ラベル01", className:"is-red01"})
			.titleAfter
				+m-borderBtn01({tag:"p",text:"ボタン01", url:"index.html", className:"m-iconSet"})
		+m-largeTitle01({tag:"h3", title:"ラージタイトル01"})
	