extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../../',
			TITLE: 'カラダがwebでできている',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}
block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+m-discList01
						+m-list01({url:"component_btn/", text:"コンポーネント_ボタン"})
						+m-list01({url:"component_qanda/", text:"コンポーネント_Q&A"})
						+m-list01({url:"component_header/", text:"コンポーネント_ヘッダー"})
						+m-list01({url:"component_footer/", text:"コンポーネント_フッター"})
						+m-list01({url:"component_mainvisual/", text:"コンポーネント_メインビジュアル"})
						+m-list01({url:"component_news/", text:"コンポーネント_ニュース"})
						+m-list01({url:"component_form/", text:"コンポーネント_フォーム"})
						+m-list01({url:"component_column/", text:"コンポーネント_カラム"})
