//- アニメーション - ボックス背景色01
include _a_bgColorChange01/__init

//- アニメーション - ボックスシャドウ01
include _a_shadowAppear01/__init

//- アニメーション - ボックスボーダー01
include _a_borderChange01/__init

//- アニメーション - フェードイン01
include _a_fadeIn01/__init