+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span アニメーション - ボックス背景色01

			+l-markupBlock
				+p-markupBtn('stylus')
					include ../../../stylus/_include/_animation/_a_bgColorChange01.styl

			//- 背景色 フェード
			include _a_bgColorChange01/_fade01

			//- 背景色 スライドライト
			include _a_bgColorChange01/_slideRight01

			//- 背景色 スライドレフト
			include _a_bgColorChange01/_slideLeft01

			//- 背景色 スライドボトム
			include _a_bgColorChange01/_slideBottom01

			//- 背景色 スライドトップ
			include _a_bgColorChange01/_slideTop01

			//- 背景色 スライドセンターアウト
			include _a_bgColorChange01/_slideCenterOut01

			//- 背景色 スライドセンターイン
			include _a_bgColorChange01/_slideCenterIn01