//- 複合コンポーネント - ヘッダー01
header.c-templateHeader01
	position relative
	padding 0 30px 30px 30px
	background-color #FAFAFA
	box-sizing border-box

	.l-contentsWidth
		&>.group
			.block
				&.is-logo
					fontSize(16)
					letter-spacing 0.2em