+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - ボタンモジュール02
			
			+l-markupBlock
				p.m-btnSet02
					a(href=".pdf")
						span.btnWrapper
							span.btnInner ボタン

			+l-markupBlock
				+p-markupBtn('pug').
					p.m-btnSet02
						a(href="") 拡張子でアイコン切り分け
							span.btnWrapper
								span.btnInner ボタン

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_btn/_m_btnSet02.styl