+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span アニメーション - ボックスシャドウ01
			
			+l-markupBlock
				.a-shadowAppear01
					.m-btnSet01
						a(href="")
							span.btnWrapper
								span.btnInner ボックスシャドウ01 - シャドウ01
			+l-markupBlock
				+p-markupBtn('pug').
					.a-shadowAppear01
						.hoverAnimationBlock
							コンテンツ

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_animation/_a_shadowAppear01.styl
