+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('アニメーション - ボックスボーダー01')

			+l-markupBlock
				+p-markupBtn('pug').
					.a-borderChange01
						コンテンツ

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_animation/_a_borderChange01.styl
			
			mixin a-borderChange01(className)
				.a-borderChange01(class=className)
					block
					
			//- ボックスボーダー01 - ボトム - スライドレフト01
			include _boderBottomLeft01

			//- ボックスボーダー01 - ボトム - スライドライト01
			include _boderBottomRight01

			//- ボックスボーダー01 - ボトム - スライドセンター01
			include _boderBottomCenter01

			//- ボックスボーダー01 - ボールド01
			include _boderBold01

			//- ボックスボーダー01 - ボールド02
			include _boderBold02

			//- ボックスボーダー01 - ドロー01
			include _boderDraw01

			//- ボックスボーダー01 - ドロー02
			include _boderDraw02

			//- ボックスボーダー01 - ドロー03
			include _boderDraw03

	