+a-borderChange01('is-boderBottomRight01')
	+m-btnSet01('p','ボックスボーダー01 - ボトム - スライドライト01','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-borderChange01.is-boderBottomRight01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_borderChange01/_boderBottomRight01.styl