+a-borderChange01('is-boderBottomLeft01')
	+m-btnSet01('p','ボックスボーダー01 - ボトム - スライドレフト01','')

+l-markupBlock
	+p-markupBtn('pug').
		.a-borderChange01.is-boderBottomLeft01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_borderChange01/_boderBottomLeft01.styl