.a-borderChange01.is-boderBold01
	.m-btnSet01
		a(href="")
			span.btnWrapper
				span.btnInner ボーダーボールド01
+l-markupBlock
	+p-markupBtn('pug').
		.a-borderChange01.is-boderBold01
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_borderChange01/_boderBold01.styl