.a-borderChange01.is-boderDraw02
	.m-btnSet01
		a(href="")
			span.btnWrapper
				span.btnInner ボックスボーダー01 - ドロー02
+l-markupBlock
	+p-markupBtn('pug').
		.a-borderChange01.is-boderDraw02
			a(href="#")
				テキスト
	+p-markupBtn('stylus')
		include ../../../../stylus/_include/_animation/_a_borderChange01/_boderDraw02.styl