mixin c_halfSet01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "c-halfSet01",
			className: tg.className ? tg.className : "",
			col: tg.col ? tg.col : {tag:"div", className:"is-three"}
		}
	#{op.tag}( class = op.baseName + " " + op.className ).is-component
		.componentWrapper
			block