.m-borderTopBottomTitle01
	display flex
	justify-content space-between
	align-items center
	margin-bottom 30px
	padding 10px 0
	border-top 2px solid #ccc
	border-bottom 2px solid #ccc
	+MQ_MAX(SP_RES_WID01)
		flex-direction column
		margin-bottom 20px

	&.is-center
		.com-title
			text-align center
	&:last-child
		margin-bottom 0

			
	.com-title
		width 100%
		line-height 1.0
		span
			fontSize(18)
			margin-right 10px
			font-weight bold
			line-height 1.0
			+MQ_MAX(SP_RES_WID01)
				display block
				margin-bottom 5px
				&:last-child
					margin-bottom 0
			
			&:last-child
				margin-right 0
			&.is-large
				fontSize(22)
			&.is-small
				fontSize(14)
		
	.titleBefore
		order -1
		+MQ_MAX(SP_RES_WID01)
			margin-bottom 10px
	.titleAfter
		order 1
		+MQ_MAX(SP_RES_WID01)
			margin-top 10px