+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p",text:"ボタン01"})
		+m-borderBtn01({tag:"p",text:"ボタン01", url:"index.html", className:"m-iconSet"})
	+l-columnBox({tag:"div"})
		.c-memoSet01
			.group.is-before
				.block.is-text
					.area.is-text
						ul.tab
							li.is-current 使用モジュール
							li 使い方
							li pug
							li html
			.group.is-primary.is-current
				.block.is-text
					.area.is-code
						ul.m-discList01
							li
								a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_btn01.zip") m-borderBtn01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									+m-borderBtn01({
										tag:          "div",          //親タグ名
										baseName:     "m-borderBtn01",  //ベースclass名
										className:    "",             //追加class名
										text:        "ボタン",         // テキスト
										url:       "",                // url
										blank:     "",                //外部リンク "_blank"のとき外部リンク
									})
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									p.m-borderBtn01.m-iconSet.com-btn
										a(href="index.html")
											span.moduleWrapper
												span.moduleInner ボタン01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.html
								:escape-html
									<p class="m-borderBtn01 m-iconSet com-btn">
										<a href="index.html">
											<span class="moduleWrapper">
												<span class="moduleInner">ボタン01</span>
											</span>
										</a>
									</p>