+l-columnBlock({tag:"div"})
	+l-columnBox({tag:"div"})
		+m-componentTitle01({tag:"p",text:"ページャー01"})
		+m-pager01({
			tag:"div",
			list: [{text:"1"},{text:"2",url:"#"},{text:"3",url:"#"}]
		})
	+l-columnBox({tag:"div"})
		.c-memoSet01
			.group.is-before
				.block.is-text
					.area.is-text
						ul.tab
							li.is-current 使用モジュール
							li 使い方
							li pug
							li html
			.group.is-primary.is-current
				.block.is-text
					.area.is-code
						ul.m-discList01
							li
								a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_pager01.zip") m-pager01
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									+m-pager01({
										tag:          "div",          //親タグ名
										baseName:     "m-pager01",  //ベースclass名
										className:    "",             //追加class名
										list:       [{text:"1"}, {text:"2", url:"#"}, {text:"3", url:"#"}],  // リスト
									})
									
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.stylus
								.
									.m-pager01
										ul
											li
												.box
													span 1
											li
												a(href="#")
													.box
														span 2
											li
												a(href="#")
													.box
														span 3
			.group.is-primary
				.block.is-text
					.area.is-code
						pre
							code.html
								:escape-html
									<div class="m-pager01">
										<ul>
											<li>
												<div class="box"><span>1</span></div>
											</li>
											<li><a href="#">
												<div class="box"><span>2</span></div></a>
											</li>
											<li><a href="#">
												<div class="box"><span>3</span></div></a>
											</li>
										</ul>
									</div>