mixin c-newsSet02
	.c-newsSet02
		ul
			li
				a(href="")
					.titleBlock
						p.date 2019/12/01
						p.tag タグ
					.textBlock
						p.text
							span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			li
				a(href=".pdf")
					.titleBlock
						p.date 2019/12/01
						p.tag タグ
					.textBlock
						p.text
							span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			li
				a(href=".doc")
					.titleBlock
						p.date 2019/12/01
						p.tag タグ
					.textBlock
						p.text
							span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります