extends _include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'コンポーネント集'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-columnBlock
		h3.m-title-bg01
			span レイアウト
		include _include/_layout/__l_init01

	+l-columnBlock
		h3.m-title-bg01
			span コンポーネント
		include _include/_components/__c_init01

	+l-columnBlock
		h3.m-title-bg01
			span 複合コンポーネント
		include _include/_components/__c_init02

	+l-columnBlock
		h3.m-title-bg01
			span モジュール
		include _include/_modules/__m_init01

	+l-columnBlock
		h3.m-title-bg01
			span cssアニメーション
		include _include/_animation/__a_init01

	+l-columnBlock
		h3.m-title-bg01
			span プラグイン
		include _include/_plugin/__p_init01