extends _include/_template/_t_base_template

block vars
	- var KEY = "guideline"
	- var URL = 'guideline.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'ガイドライン'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-columnBlock
		+l-columnBox
			h1.m-title-bg01
				span コーディングガイドライン ver0.0
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					.m-defaultSet
						h2.m-title-borderLeft01
							span [1.0] 基本
						+l-childBox
							h3.m-title-borderBottom01
								span [1.1] ガイドラインの目的
							+l-childBox
								p 下記目的を達成するために、常に見直し・更新を行ない、ガイドラインの制定と共有を図る。
								h4.m-title-boldLarge01
									span [1.1] ガイドラインの目的
								+l-childBox
									p 本ガイドラインは、以下にあげる3つの項目を達成するため制定する。 
								h4.m-title-boldLarge01
									span [1.1.1] クオリティの向上 
								+l-childBox
									p 制作を進める上で最適だと思われるルールをガイドラインとして制定することで、全体のクオリティ向上を図る。 
								h4.m-title-boldLarge01
									span [1.1.2] クオリティの均一化
								+l-childBox
									p ルールを明確にすることで、制作担当者によって発生しうるクオリティのバラつきを防ぐ。 
								h4.m-title-boldLarge01
									span [1.1.3] 制作の効率化
								+l-childBox
									p ルールを明確にすることでタイムロスを防ぎ、無駄なチェック・修正の工数を削減する。 

							h3.m-title-borderBottom01
								span [1.2] 制作ルール
							+l-childBox
								h4.m-title-boldLarge01
									span [1.2.1] 文字コード
								+l-childBox
									p UTF-8 を使用する。
										br
										| フォーム等でその他の文字コードが必要な場合は、適宜変更する。

								h4.m-title-boldLarge01
									span [1.2.2] DOCTYPE
								+l-childBox
									p HTML5 とする。
										br
										| 要件に応じて、別の形式を採用する。

								h4.m-title-boldLarge01
									span [1.2.3] マークアップ
								+l-childBox
									p w3cに則ったマークアップを行う。

								h4.m-title-boldLarge01
									span [1.2.4] バリデート
								+l-childBox
									ul.is-disc
										li 文法に則った HTML を記述する。
										li バリデートチェックにはツール等を使用して、適宜チェックすること
											br
											a(href="https://validator.w3.org/") https://validator.w3.org/

								h4.m-title-boldLarge01
									span [1.2.5] インデント
								+l-childBox
									p インデントは、タブもしくはスペース2個を使用し、いずれかに統一する。
										br
										| （pugを使用する際は、出力の際半角スペースに変換される）

								h4.m-title-boldLarge01
									span [1.2.6] 改行
								+l-childBox
									p ブロック要素は改行する。
										br
										| インライン要素であっても、適宜改行して可読性を保つようにする。

								h4.m-title-boldLarge01
									span [1.2.7] 文字
								+l-childBox
									ul.is-disc
										li 英数字は半角を使用する
										li 原則、半角カタカナは使用しない。
										li 特殊文字は適切な文字コードに置き換える

								h4.m-title-boldLarge01
									span [1.2.8] パス
								+l-childBox
									p 原則、相対パスを使用する。システムの要件に合わせて、ルート相対パス、絶対パス等を適宜使い分け、使用する際には統一する。
									h5.m-title-boldLarge01
										span ■相対パス
									+l-childBox
										p
											pre
												code
													:escape-html
														<a href="../about/ ">ABOUT</a>
									h5.m-title-boldLarge01
										span ■ルート相対パス
									+l-childBox
										p
											pre
												code
													:escape-html
														<a href="/about/ ">ABOUT</a>
									h5.m-title-boldLarge01
										span ■絶対パス
									+l-childBox
										p
											pre
												code
													:escape-html
														<a href="https//www.sample.co.jp/about/ ">ABOUT</a>

								h4.m-title-boldLarge01
									span [1.2.9] タグ名
								+l-childBox
									ul.is-disc
										li タグ名を記述する際は、小文字を使用する。
										li 終了タグは省略しない。

									h5.m-title-boldLarge01
										span [1.2.9.1] head
									+l-childBox
										ul.is-disc
											li title、meta等は、システムやSEO等に配慮して、適宜記述する。
											li style、scriptタグは基本head内に記述する。

										p
											pre
												code
													:escape-html
														<link rel="canonical" href="index.html">
														<meta charset="utf-8">
														<meta http-equiv="X-UA-Compatible" content="IE=edge">
														<meta name="viewport" content="width=device-width, minimum-scale=0.5 , maximum-scale=2">
														<meta name="format-detection" content="telephone=no">
														<title>サイト名 | 下層ページ</title>
														<meta content="" name="description">
														<meta content="" name="keywords">
														<meta content="サイトタイトル" property="og:title">
														<meta content="" property="og:description">
														<meta content="images/common/ogp.png" property="og:image">
														<meta content="index.html" property="og:url">
														<meta content="website" property="og:type">
														<meta content="ja_JP" property="og:locale">
														<link rel="stylesheet" href="css/style.css">
														<link rel="shortcut icon" href="images/common/favicon.ico">
														<link rel="apple-touch-icon" href="images/common/webclip.png">
														<script src="js/function.js"></script>

										h6.m-title-boldLarge01
											span [1.2.9.1.1] title
										+l-childBox
											p ページ名、サイト名の順に、「 | 」（半角スペース＋半角縦棒＋半角スペース）で区切る。 
											p
												pre
													code
														:escape-html
															<title>サイト名 | 下層ページ</title>

										h6.m-title-boldLarge01
											span [1.2.9.1.2] description
										+l-childBox
											p description は、ページに合った説明文を、適切な文字数で記述すること。


										h6.m-title-boldLarge01
											span keywords
										+l-childBox
											p keywords は、キーワード毎に半角カンマ「,」で区切ること。

										h6.m-title-boldLarge01
											span ogp
										+l-childBox
											p ogpタグは、連携するsnsに推奨される形式を使用する
											p
												pre
													code
														:escape-html
															<meta content="サイトタイトル" property="og:title">
															<meta content="" property="og:description">
															<meta content="images/common/ogp.png" property="og:image">
															<meta content="index.html" property="og:url">
															<meta content="website" property="og:type">
															<meta content="ja_JP" property="og:locale">

										h6.m-title-boldLarge01
											span [1.2.9.1.5] style
										+l-childBox
											p
												pre
													code
														:escape-html
															<link rel="stylesheet" href="css/style.css">

										h6.m-title-boldLarge01
											span [1.2.9.1.6] script
										+l-childBox
											p typeは省略する
											p
												pre
													code
														:escape-html
															<script src="js/function.js"></script>

										h6.m-title-boldLarge01
											span [1.2.9.1.7] favicon、webclip
										+l-childBox
											p サイトに適切なfavicon、webclipを設置する
											p
												pre
													code
														:escape-html
															<link rel="shortcut icon" href="images/common/favicon.ico">
															<link rel="apple-touch-icon" href="images/common/webclip.png">

										h6.m-title-boldLarge01
											span [1.2.9.1.8] Google Analytics
										+l-childBox
											p
												:escape-html
													</head> の直前に記述する。

										
										h6.m-title-boldLarge01
											span [1.2.9.1.9] その他
										+l-childBox
											p その他、外部ライブラリなど必要な記述は、適宜記述する。

									h5.m-title-boldLarge01
										span [1.2.9.1] コンテンツ
									+l-childBox
										h6.m-title-boldLarge01
											span [1.2.9.2.1] hX
										+l-childBox
											ul.is-disc
												li 見出し要素は、バリデーションに則した形式で記述する。
												li h1：トップページでは、サイトタイトル・サイトロゴに使用。その他のページでは、ページに適したタイトルを使用する。

										h6.m-title-boldLarge01
											span [1.2.9.2.2] img
										+l-childBox
											ul.is-disc
												li 基本、altを記述する。]
												li 装飾要素等でaltが必要ない場合などは、「alt=""」を使用する。

		+l-columnBox
			+l-bgBlock01
				+l-contentsWidth
					+l-mqWrapper
						.m-defaultSet
							h2.m-title-borderLeft01
								span [2.0] ディレクトリ構成
							p
								pre
									code
										:escape-html
											root/
											|
											├ dist/
											|	|
											|	├ css/
											|	|	|
											|	|	└ style.css
											|	|
											|	├ images/
											|	|
											|	└ js/
											|	|
											|	├ component.html
											|	└ index.html
											|
											├ node_modules/
											|
											├ src/
											|	|
											|	├ pug/ [3.1]
											|	|	|
											|	|	└ _include/ [3.1.2]
											|	|	|	├ _components/ [3.1.2.1]
											|	|	|	|	|
											|	|	|	|	├ _c_componentName.pug
											|	|	|	|	└ ...
											|	|	|	|
											|	|	|	├ _layout/ [3.1.2.2]
											|	|	|	|	|
											|	|	|	|	├ _l_layoutName.pug
											|	|	|	|	└ ...
											|	|	|	|
											|	|	|	├ _modules/ [3.1.2.3]
											|	|	|	|	|
											|	|	|	|	├ _m_moduleName.pug
											|	|	|	|	└ ...
											|	|	|	|
											|	|	|	└ _settings/ [3.1.2.4]
											|	|	|	|	|
											|	|	|	|	├ _s_head.pug
											|	|	|	|	└ _s_mixin.pug
											|	|	|	|
											|	|	|	└ _template/ [3.1.2.5]
											|	|	|		|
											|	|	|		└ _t_templateName.pug
											|	|	|
											|	|	├ component.pug [3.1.1]
											|	|	└ index.pug [3.1.1]
											|	|
											|	└ stylus/ [3.2]
											|		|
											|		└ _include/ [3.2.2]
											|		|	|
											|		|	├ _components/ [3.2.2.1]
											|		|	|	|
											|		|	|	├ _c_componentName.styl
											|		|	|	└ ...
											|		|	|
											|		|	├ _layout/ [3.2.2.2]
											|		|	|	|
											|		|	|	├ _l_layoutName.styl
											|		|	|	└ ...
											|		|	|
											|		|	├ _modules/ [3.2.2.3]
											|		|	|	|
											|		|	|	├ _m_moduleName.styl
											|		|	|	└ ...
											|		|	|
											|		|	├ _pages/ [3.2.2.4]
											|		|	|	|
											|		|	|	├ _p_pageName.styl
											|		|	|	└ ...
											|		|	|
											|		|	└ _settings/ [3.2.2.5]
											|		|		|
											|		|		├ _s_base.styl
											|		|		├ _s_config.styl
											|		|		└ _s_reset.styl
											|		|
											|		└ style.styl [3.2.1]
											|
											├ .gitignore [6.0]
											|
											├ gulpfile.js [5.0]
											|
											└ package.json [5.0]


		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					.m-defaultSet
						h2.m-title-borderLeft01
							span [3.0] 使用言語の役割
						+l-childBox
							h3.m-title-borderBottom01
								span [3.1] pug(html)
							+l-childBox
								ul.is-disc
									li pug/の内容が、dist内に出力される。
									li pugの記述を使用する。
								h4.m-title-boldLarge01
									span [3.1.1] index.pug component.pug
								+l-childBox
									ul.is-disc
										li index.pug : ページトップ、ページリスト
										li component.pug : コンポーネント集、モジュール集、パーツ集
								h4.m-title-boldLarge01
									span [3.1.2] pug/_include
								+l-childBox
									p pugで使用する、コンポーネントやパーツなどを格納する
									
									h5.m-title-boldLarge01
										span [3.1.2.1] pug/_include/_components
									+l-childBox
										p ヘッダー、フッター、コンポーネント
									h5.m-title-boldLarge01
										span [3.1.2.2] pug/_include/_layout
									+l-childBox
										p コンテンツ、wrapperなどのレイアウト
									h5.m-title-boldLarge01
										span [3.1.2.3] pug/_include/_modules
									+l-childBox
										p ボタン、画像、リストなどのモジュール
									h5.m-title-boldLarge01
										span [3.1.2.4] pug/_include/_settings
									+l-childBox
										p head、mixinなど、基本的な要素
									h5.m-title-boldLarge01
										span [3.1.2.5] pug/_include/_template
									+l-childBox
										p ヘッダー、フッター、コンテンツなどを使用したテンプレート
							h3.m-title-borderBottom01
								span [3.2] stylus(css)
							+l-childBox
								p stylus/の内容が、dist/stylus内に出力される。
								ul.is-disc
									li stylusの記述を使用する。
									li 外部ライブラリなど、修正が不要なファイルに関しては、css、scss記法を使用しても良い
								
								h4.m-title-boldLarge01
									span [3.2.1] stylus/style.styl
								+l-childBox
									p style.cssに出力するデータをimportする
									p
										pre
											code
												:escape-html
													@charset "utf-8"
													@import "_include/_settings/_s_reset"
													@import "_include/_settings/_s_mixin"
													@import "_include/_settings/_s_base"
													@import "_include/_modules/*"
													@import "_include/_components/*"
													@import "_include/_layout/*"
													@import "_include/_pages/*"
								
								h4.m-title-boldLarge01
									span [3.2.2] stylus/_include
								+l-childBox
									p style.stylにimportされるスタイルを格納する

									h5.m-title-boldLarge01
										span [3.2.2.1] stylus/_include/_components
									+l-childBox
										p ヘッダー、フッター、コンポーネント
									h5.m-title-boldLarge01
										span [3.2.2.2] stylus/_include/_layout
									+l-childBox
										p コンテンツ、wrapperなどのレイアウト
									h5.m-title-boldLarge01
										span [3.2.2.3] stylus/_include/_modules
									+l-childBox
										p ボタン、画像、リストなどのモジュール
									h5.m-title-boldLarge01
										span [3.2.2.4] stylus/_include/_pages
									+l-childBox
										p 各ページ固有のstyleを記述する
									h5.m-title-boldLarge01
										span [3.2.2.5] stylus/_include/_settings
									+l-childBox
										p ブラウザのデフォルトスタイルの初期化や、汎用スタイルを定義する。

		+l-columnBox
			+l-bgBlock01
				+l-contentsWidth
					+l-mqWrapper
						.m-defaultSet
							h2.m-title-borderLeft01
								span [4.0] ファイル作成、命名規則

							p ■識別名
							table
								tbody
									tr
										th bg
									tr
										th btn
									tr
										th icon
									tr
										th image
									tr
										th thumbnail
									tr
										th title
									tr
										th text
							+l-childBox
								h3.m-title-borderBottom01
									span [4.1] ファイル作成
								+l-childBox
									p ファイル名に2バイト文字とスペースは使用しない
									p ファイル名に使用できる文字は以下のものに限る。
									ul.is-disc
										li 「a」〜「z」までの小文字のアルファベット（1 バイト）
										li 「0」〜「9」までの英数字（1 バイト）
										li 「-（ハイフン）」「_（アンダースコア）」 （1 バイト）
								h3.m-title-borderBottom01
									span [4.2] 画像の書き出し
								+l-childBox
									ul.is-disc
										li gif
										li jpg
										li png
										li svg
								h3.m-title-borderBottom01
									span [4.3] 命名
								+l-childBox
									p 同種の画像が他にない場合でも、必ず2桁の連番をつける。 
								h3.m-title-borderBottom01
									span [4.3.1] 画像ファイル
								+l-childBox
									p ページ名_要素名_識別名+連番2桁.拡張子 
									p
										pre
											code
												:escape-html
													home_mainvisualBlock_image01.png
								h3.m-title-borderBottom01
									span [4.3.2] pug、stylus コンポーネント、モジュール
								+l-childBox
									p _接頭詞_要素名+連番2桁.拡張子
									p
										pre
											code
												:escape-html
													_c_imageSet01.pug
													_m_btnSet01.styl
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					.m-defaultSet
						h2.m-title-borderLeft01
							span [5.0] gulp
						+l-childBox
							p pug、stylusの使用には、gulpを使用する。
								br
								| package.jsonに記述されたモジュールをインストールしたのち、コンソールにてgulpを起動する。
	
							p
								pre
									code
										:escape-html
											npm install
											gulp
		+l-columnBox
			+l-bgBlock01
				+l-contentsWidth
					+l-mqWrapper
						.m-defaultSet
							h2.m-title-borderLeft01
								span [6.0] ファイル管理について
							+l-childBox
								p gitを使用して、ファイルを管理する。
								p 除外ファイルについては、.gitignoreファイルに適宜記述する。
								h3.m-title-borderBottom01
									span [6.1] 除外ファイル
								+l-childBox
									ul.is-disc
										li node_module/
		+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					.m-defaultSet
						h2.m-title-borderLeft01
							span [7.0] コーディングチェック 
						+l-childBox
							h3.m-title-borderBottom01
								span [7.1] 文法チェック
							h3.m-title-borderBottom01
								span [7.2] ブラウザチェック
							+l-childBox
								h4.m-title-boldLarge01
									span [7.2.1] 対応ブラウザ
								+l-childBox
									p [Windows]
									ul.is-disc
										li OS
											br
											| 8.1、10
										li ブラウザ
											br
											| IE11、Microsoft Edge最新バージョン、Chrome最新バージョン、Firefox最新バージョン
									p [Mac]
									ul.is-disc
										li OS
											br
											| Mojave（最新バージョン）
										li ブラウザ
											br
											| Safari最新バージョン、Chrome最新バージョン、Firefox最新バージョン
									p [Android]
									ul.is-disc
										li OS
											br
											| 6.0～
										li ブラウザ
											br
											| Chrome最新バージョン
									p [iOS]
									ul.is-disc
										li OS
											br
											| 12.0～
										li ブラウザ
											br
											| Safari最新バージョン

							h3.m-title-borderBottom01
								span [7.3] その他チェックリスト


