extends _include/_template/_t_base_template

block vars
	- var KEY = "home"
	- var URL = 'index.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'ページリスト'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "false"

block contents
	+l-columnBox
			+l-contentsWidth
				+l-mqWrapper
					.m-defaultSet
						ul.is-disc
							li
								a(href="component.html") コンポーネント集
							li
								a(href="fonts/sample.html") アイコンフォント
							li
								a(href="guideline.html") ガイドライン