//- モジュール - アイコンセット
iconWidth = 16px
iconHeight = 16px

iconOption()
	&:before, &:after
		display inline-block
		width iconWidth
		height 16px
		margin 0 4px
		background-repeat no-repeat
		background-size cover
		vertical-align middle
	&:after
		content ""
	
	&.icon-before
		&:before
			content ""
		&:after
			content none

outerHashIcon()
	&:before, &:after
		transform translate3d(0, -50%, 0) rotate(90deg)
	&[href*=".html"]
		&:before, &:after
			transform translate3d(0, -50%, 0) rotate(0)

outerIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_outer01.svg')
		
pdfIcon(iconColor)
	content iconColor
	&:before, &:after
		background-image: url('../images/common/common_icon_pdf01.svg')
		

pptIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_ppt01.svg')

docIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_doc01.svg')

excelIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_excel01.svg')

musicIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_music01.svg')

movieIcon(iconColor)
	&:before, &:after
		background-image: url('../images/common/common_icon_movie01.svg')

etcIcon(iconColor)
	&:before, &:after
		background-image url('../images/common/common_icon_etc01.svg')

defaultIcon(iconColor)
	background-image: url('../images/common/common_icon_arrow01.svg')
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16' height='16' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Ctitle%3ESlack icon%3C/title%3E%3Crect x='1' y='7' width='14' height='2'/%3E%3Cpolygon points='13.8,8.2 9.5,4 10.4,3 14.7,7.2 '/%3E%3Cpolygon points='13.8,7.8 9.5,12 10.4,13 14.7,8.8 '/%3E%3C/svg%3E%0A");
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16%3B' xml:space='preserve'%3E%3Ctitle%3ESlack icon%3C/title%3E%3Crect x='1' y='7' width='14' height='2'/%3E%3Cpolygon points='13.8,8.2 9.5,4 10.4,3 14.7,7.2 '/%3E%3Cpolygon points='13.8,7.8 9.5,12 10.4,13 14.7,8.8 '/%3E%3C/svg%3E")
	

iconSet(iconColor)
	&[target^='_blank'], &[href$='.pdf'],
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
	&[href$='.mp3'], &[href$='.wma'], &[href$='.wave'], &[href$='.wav'], &[href$='.aac'], &[href$='.flac'], &[href$='.aif'],
	&[href$='.omg'], &[href$='.oma'], &[href$='.aa3'], &[href$='.ogg'], &[href$='.oga'], &[href$='.asf'], &[href$='.m4a'],
	&[href$='.mov'], &[href$='.alac'], &[href$='.ape'], &[href$='.tak'], &[href$='.tta'], &[href$='.aiff'], &[href$='.aif'],
	&[href$='.avi'], &[href$='.mov'], &[href$='.wmv'], &[href$='.flv'], &[href$='.mpg'], &[href$='.mp4']
		iconOption()
	&[href*="#"]
		outerHashIcon(iconColor)
	&[target^='_blank']
		outerIcon(iconColor)
	&[href$='.pdf']
		pdfIcon(iconColor)
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm']
		docIcon(iconColor)
	&[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'], &[href$='.xlsm'], &[href$='.csv']
		excelIcon(iconColor)
	&[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		pptIcon(iconColor)
	&[href$='.mp3'], &[href$='.wma'], &[href$='.wave'], &[href$='.wav'], &[href$='.aac'], &[href$='.flac'], &[href$='.aif'],
	&[href$='.omg'], &[href$='.oma'], &[href$='.aa3'], &[href$='.ogg'], &[href$='.oga'], &[href$='.asf'], &[href$='.m4a'],
	&[href$='.mov'], &[href$='.alac'], &[href$='.ape'], &[href$='.tak'], &[href$='.tta'], &[href$='.aiff'], &[href$='.aif']
		musicIcon(iconColor)
	&[href$='.avi'], &[href$='.mov'], &[href$='.wmv'], &[href$='.flv'], &[href$='.mpg'], &[href$='.mp4']
		movieIcon(iconColor)
	&[href$='.rtf']
		etcIcon(iconColor)
	span
		vertical-align middle

iconTagSet(tag,iconColor)
	&[target^='_blank'], &[href$='.pdf'],
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm'],
	&[href$='.rtf'], &[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'],
	&[href$='.xlsm'], &[href$='.csv'], &[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		{tag}
			iconOption()
	&[href*="#"]
		{tag}
			outerHashIcon(iconColor)
	&[target^='_blank']
		{tag}
			outerIcon(iconColor)
	&[href$='.pdf']
		{tag}
			pdfIcon(iconColor)
			
	&[href$='.doc'], &[href$='.docx'], &[href$='.docm'], &[href$='.dotx'], &[href$='.dotm']
		{tag}
			docIcon(iconColor)
	&[href$='.xls'], &[href$='.xlsx'], &[href$='.xlt'], &[href$='.xml'], &[href$='.xlsm'], &[href$='.csv']
		{tag}
			excelIcon(iconColor)
	&[href$='.ppt'], &[href$='.pptx'], &[href$='.pptm']
		{tag}
			pptIcon(iconColor)
	&[href$='.mp3'], &[href$='.wma'], &[href$='.wave'], &[href$='.wav'], &[href$='.aac'], &[href$='.flac'], &[href$='.aif'],
	&[href$='.omg'], &[href$='.oma'], &[href$='.aa3'], &[href$='.ogg'], &[href$='.oga'], &[href$='.asf'], &[href$='.m4a'],
	&[href$='.mov'], &[href$='.alac'], &[href$='.ape'], &[href$='.tak'], &[href$='.tta'], &[href$='.aiff'], &[href$='.aif']
		{tag}
			musicIcon(iconColor)
	&[href$='.avi'], &[href$='.mov'], &[href$='.wmv'], &[href$='.flv'], &[href$='.mpg'], &[href$='.mp4']
		movieIcon(iconColor)
	&[href$='.rtf']
		{tag}
			etcIcon(iconColor)
	{tag}
		&:after
			content ""
			display block
			position absolute
			top 50%
			right 10px
			width iconWidth
			height iconHeight
			margin 0 !important
			background-repeat no-repeat
			background-size cover
			transform translate3d(0, -50%, 0)

			defaultIcon(iconColor)
		span
			vertical-align middle