.m-imageSet
	marginBottom(20)
	.image
		display table
		+MQ_SP(SP_RES_WID)
			width 100%
			text-align center

		figcaption
			display table-caption
			caption-side bottom
			margin-top 10px
			text-align left
			
	iframe
		+MQ_SP(SP_RES_WID)
			width 100%
	img
		max-width 100%
		height auto
