+c-mainvisualSet01
	.group.is-title
		+m-componentTitle01({tag:"p",text:"メインビジュアル01"})
	.group.is-primary
		.block.is-slide
			.area.is-slide.js-mainvisualSet01
				.slide
					+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})
				.slide
					+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})
				.slide
					+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/960/500/animals'})

