html.is-guideline
	titleSizeSet('.m-title-bg01')
	titleSizeSet('.m-title-boldLarge01')
	titleSizeSet('.m-title-borderBottom01')
	titleSizeSet('.m-title-borderLeft01')
	titleSizeSet('.m-title-borderRight01')
	titleSizeSet('.m-title-borderTop01')
	titleSizeSet('.m-title-borderTopBottom01')
	titleSizeSet('.m-title-twoWord01')

	pre
		padding 15px
		background-color #FAFAFA
		border 1px solid #CCC
		fontSize(12)
		white-space pre-wrap
	
	p
		margin-bottom 10px