extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: false,
			SIDE: false,
		}
block header
	+c-templateHeader01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})

			+l-columnBlock({tag:"div"})
				+m-componentTitle01({tag:"p",text:"ボタンセット"})
				+l-columnBox({tag:"div"})
					//- 繰り返しのとき
					+c-btnSet01({tag:"div", colClass:"is-two",
						list:[{tag:"p",text:"ボタン01", url:"index.html", className:"m-iconSet"},
							{tag:"p",text:"ボタン02", url:"index.html"},
							{tag:"p",text:"ボタン03", url:"index.html"}
						]
					})
					//- 個別にタグ指定したいとき
					//- +c-btnSet01({tag:"div", className: "is-center", colClass:"is-two"})
					//- 	li
					//- 		+m-borderBtn01({tag:"p",text:"ボタン01", url:"index.html"})
					//- 	li
					//- 		+m-borderBtn01({tag:"p",text:"ボタン02", url:"index.html"})
					//- 	li
					//- 		+m-borderBtn01({tag:"p",text:"ボタン02", url:"index.html"})
				+l-columnBox({tag:"div"})
					.c-memoSet01
						.group.is-before
							.block.is-text
								.area.is-text
									ul.tab
										li.is-current 使用モジュール
										li 使い方
										li pug
										li html
						.group.is-primary.is-current
							.block.is-text
								.area.is-code
									ul.m-discList01
										li
											a(href="https://github.com/shiroiyoMegane/coding-template/raw/master/docs/assets/file/_m_defaultTag.zip") c-btnSet01
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.html
											:escape-html