extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "canvas",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}

block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents
	.c-arcanoidSet01
		.canvasBlock
			canvas(id="arcanoid" width="960" height="640")