extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "canvas",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}

block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			//- 分割セット01 ---------------------------------------------------------------------------------------------------------------------------
			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+m-componentTitle01({tag:"h3",text:"均等分割セット01"})
					+c-halfSet01({col:{tag:"div", className:"is-two"}})
						mixin primaryGroup()
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title.js-matchHeight
										+m-borderLeftTitle01({tag:"h3", title:"左線タイトル01"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub.js-matchHeight
										p 2019.09.07
							.col
								.block.is-image
									.area.is-image
										+m-imageSet01({imageTag:"p", imageUrl: 'https://placeimg.com/375/232/animals'})
								.block.is-text
									.area.is-title.js-matchHeight
										+m-borderLeftTitle01({tag:"h3", title:"ここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeight"})
									.area.is-text
										.m-defaultTag
											p!= DUMMY_TEXT_50
									.area.is-sub.js-matchHeight
										p ここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeightここにmatchHeight