.m-imageSet01
	&.is-imageFull
		.image
			width 100%
			img
				width 100%
				height auto
	.image
		display table
		margin 0 auto
		+MQ_SP(SP_RES_WID01)
			width 100%
			text-align center

		figcaption
			display table-caption
			caption-side bottom
			margin-top 10px
			text-align left
			
	iframe
		+MQ_SP(SP_RES_WID01)
			width 100%
