//- 複合コンポーネント - ヘッダー01
include _c_comHeader01

//- 複合コンポーネント - フッター01
include _c_comFooter01

//- 複合コンポーネント - ニュースコンポーネント01
include _c_newsSet01

//- 複合コンポーネント - ニュースコンポーネント02
include _c_newsSet02

//- 複合コンポーネント - ぱんくずセット01
include _c_breadcrumbSet01

//- 複合コンポーネント - フォームセット01
include _c_formSet01

//- 複合コンポーネント - QandAセット01
include _c_qandaSet01