mixin c-btnSet01(className)
	.c-btnSet01
		+c-colSet01(className)
			block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - ボタンコンポーネント01')
			
			+l-markupBlock
				+c-btnSet01('is-three')
					+col
						+m-btnSet01('p','通常ボタン','')
					+col
						+m-btnSet01('p','pdfファイル','.pdf')
					+col
						+m-btnSet01('p','その他ファイル','.rtf')
					+col
						+m-btnSet01('p','ページ内リンク','#sample')
					+col
						+m-btnSet01('p','＃付きリンク','index.html#sample')
					+col
						+m-btnSet01('p','ターゲットブランク','', '_blank')

			+l-markupBlock
				+p-markupBtn('pug').
					.c-btnSet01
						ul.box (.is-two / .is-three / .is-four)
							li.item.m-btnSet01
								a(href="")
									span.btnWrapper
										span.btnInner ボタン

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_btnSet01.styl