+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('複合コンポーネント - ぱんくずセット01')

			+l-markupBlock
				.c-breadcrumbSet01
					ol
						li
							a(href="")
								span ホーム
						li
							a(href="")
								span 下層ページ
						li
							span 下層ページ
			
			+l-markupBlock
				+p-markupBtn('pug').
					.c-breadcrumbSet01
						ol
							li
								a(href="")
									span ホーム
							li
								span 下層ページ

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_breadcrumbSet01.styl