+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span コンポーネント - 分割セット01

			+l-markupBlock
				.c-colSet01.is-two
					.col
						.m-defaultSet
							p!= DUMMY_TEXT_200
					.col
						.c-colSet01.is-three
							.col
								.m-defaultSet
									p!= DUMMY_TEXT_100
							.col
								.m-defaultSet
									p!= DUMMY_TEXT_100
							.col
								.m-defaultSet
									p!= DUMMY_TEXT_100

			+l-markupBlock
				+p-markupBtn('pug').
					.c-colSet01 (.is-two / .is-three / .is-four)
						.col
							コンテンツ
				
				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_colSet01.styl