+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span 複合コンポーネント - ヘッダー01

	+l-markupBlock
		header.c-comHeader01
			+l-contentsWidth
				.contentsArea
					.logoBlock
						h1.logo
							span
								img(src="https://placehold.jp/200x70.png", alt="")
					.navBlock
						.subNavArea
							.m-inputText01
								input(type="text")
							nav.subNav
								ul
									li
										a(href="")
											span サブナビ1
									li
										a(href="")
											span サブナビ2
									li
										a(href="")
											span サブナビ3
						.globalNavArea
							nav.globalNav
								ul
									li
										a(href="")
											span ナビゲーション1
										.childNav
											+l-contentsWidth
												ul.c-colSet01.is-six
													li.col
														a(href="")
															span 子ナビ1
													li.col
														a(href="")
															span 子ナビ2
													li.col
														a(href="")
															span 子ナビ3
													li.col
														a(href="")
															span 子ナビ4
													li.col
														a(href="")
															span 子ナビ5
													li.col
														a(href="")
															span 子ナビ6
									li
										a(href="")
											span ナビゲーション2
										.childNav
											+l-contentsWidth
												ul.c-colSet01.is-six
													li.col
														a(href="")
															span 子ナビ1
													li.col
														a(href="")
															span 子ナビ2
													li.col
														a(href="")
															span 子ナビ3
													li.col
														a(href="")
															span 子ナビ4
									li
										a(href="")
											span ナビゲーション3
									li
										a(href="")
											span ナビゲーション4
									li
										a(href="")
											span ナビゲーション5

	+l-markupBlock
		+l-contentsWidth
			+p-markupBtn('pug').
				header.c-comHeader01
					+l-contentsWidth
						.contentsArea
							.logoBlock
								h1.logo
									span
										img(src="https://placehold.jp/200x70.png", alt="")
							.navBlock
								.subNavArea
									.m-inputText01
										input(type="text")
									nav.subNav
										ul
											li
												a(href="")
													span サブナビ1
								.globalNavArea
									nav.globalNav
										ul
											li
												a(href="")
													span ナビゲーション1
												.childNav
													+l-contentsWidth
														ul.c-colSet01.is-six
															li.col
																a(href="")
																	span 子ナビ1
											li
												a(href="")
													span ナビゲーション2
												.childNav
													+l-contentsWidth
														ul.c-colSet01.is-six
															li.col
																a(href="")
																	span 子ナビ1
											li
												a(href="")
													span ナビゲーション3

			+p-markupBtn('stylus')
				include ../../../stylus/_include/_components/_c_comHeader01.styl