//- 複合コンポーネント - フォームセット01
+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('複合コンポーネント - フォームセット01')

			+l-markupBlock
				.c-formSet01
					table
						tbody
							tr
								th
									.inner
										p.title
											span カテゴリ
										p.tag
											span 必須
								td
									.inner
										.m-inputText01
											input(type="text")
							tr
								th
									.inner
										p.title
											span カテゴリ
										p.tag
											span 必須
								td
									.inner
										.m-inputSelect01
											select
												option 選択してください
							tr
								th
									.inner
										p.title
											span カテゴリ
										p.tag
											span 必須
								td
									.inner
										.m-inputRadio
											label(for="form-radio01")
												input(type="radio" name="form-radio" id="form-radio01" checked="checked")
												span ラベル
											label(for="form-radio02")
												input(type="radio" name="form-radio" id="form-radio02")
												span ラベル
							tr
								th
									.inner
										p.title
											span カテゴリ
										p.tag
											span 必須
								td
									.inner
										.m-inputCheck01
											label(for="form-check01")
												input(type="checkbox" name="form-checkbox" id="form-check01")
												span ラベル
											label(for="form-check02")
												input(type="checkbox" name="form-checkbox" id="form-check02")
												span ラベル
							tr
								th
									.inner
										p.title
											span カテゴリ
										p.tag
											span 必須
								td
									.inner
										.m-inputTextarea01
											textarea
			+l-markupBlock
				+p-markupBtn('pug').
					.c-formSet01
						table
							tbody
								tr
									th
										.inner
											p.title
												span カテゴリ
											p.tag
												span 必須
									td
										.inner
											フォームモジュール

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_formSet01.styl
