//- mixn
mixin c-imageText02(layout)
	block
	.c-imageText02(class= layout)
		.imageBlock
			+imageBlock()

		.textBlock
			+textBlock()

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像+テキストコンポーネント02')

			+l-markupBlock
				+c-imageText02("is-imageLeft")
					mixin imageBlock
						+m-imageSet01('figure', 'https://placeimg.com/400/250/animals', 'dummy')
							figcaption テキストが入ります
					mixin textBlock
						+m-defaultSet
							p!= DUMMY_TEXT_200
							p!= DUMMY_TEXT_400

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageText02 (.is-imageRight / .is-imageLeft)
						.imageBlock
							画像
						.textBlock
							テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageText02.styl