//- mixn
mixin c-imageText03(layout, image)
	block
	.c-imageText03(class= layout)
		.imageBlock(style='background-image: url('+image+')')
		.textBlock
			+textBlock()

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像+テキストコンポーネント03')

			+l-markupBlock
				+c-imageText03("is-imageRight", "https://placeimg.com/700/340/animals")
					mixin textBlock
						+m-defaultSet
							p!= DUMMY_TEXT_100

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageText03 (.is-imageRight / .is-imageLeft)
						.imageBlock(style='background-image: url("画像")')
						.textBlock
							テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageText03.styl