//- mixin
mixin c-imageBgSet01(layout)
	.c-imageBgSet01(class= layout)
		block
		.bg
			+imageBlock
		.contentsArea
			+textBlock

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像背景コンポーネント01')
			+l-markupBlock
				+c-imageBgSet01('is-left')
					mixin imageBlock
						+m-imageSet01('p', 'https://placeimg.com/900/400/animals', 'dummy')
					mixin textBlock
						+m-title-boldLarge01('h3','タイトル')
						p テキストが入ります
						
			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageBgSet01 (.is-left / .is-center / .is-right)
						p.bg
							画像
						.contentsArea
							テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageBgSet01.styl