//- mixn
mixin c-imageText01(layout)
	block
	.c-imageText01(class= layout)
		.imageBlock
			+imageBlock()

		.textBlock
			+textBlock()

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像+テキストコンポーネント01')

			+l-markupBlock
				+c-imageText01("is-imageRight")
					mixin imageBlock
						+m-imageSet01('figure', 'https://placeimg.com/400/250/animals', 'dummy')
							figcaption テキストが入ります
					mixin textBlock
						+m-defaultSet
							p!= DUMMY_TEXT_200
							p!= DUMMY_TEXT_400

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageText01 (.is-imageRight / .is-imageLeft)
						.imageBlock
							画像
						.textBlock
							テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageText01.styl