+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span コンポーネント - 画像+テキストコンポーネント03

			+l-markupBlock

				.c-imageText03.is-imageRight
					.imageBlock(style='background-image: url("https://placehold.jp/700x340.png")')
					.textBlock
						.m-defaultSet
							p!= DUMMY_TEXT_100

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageText03 (.is-imageRight / .is-imageLeft)
						.imageBlock(style='background-image: url("画像")')
						.textBlock
							.m-defaultSet

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageText03.styl