
//- mixn
mixin c-imageText04(layout)
	block
	.c-imageText04(class= layout)
		.imageBlock
			+imageBlock()

		.textBlock
			+textBlock()

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - 画像+テキストコンポーネント04')

			+l-markupBlock
				+c-imageText04("is-imageLeft")
					mixin imageBlock
						+m-imageSet01('p', 'https://placeimg.com/600/400/animals', 'dummy')
					mixin textBlock
						+m-defaultSet
							p!= DUMMY_TEXT_100

			+l-markupBlock
				+p-markupBtn('pug').
					.c-imageText04 (.is-imageRight / .is-imageLeft)
						.imageBlock
							画像
						.textBlock
							テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_imageText04.styl