+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span コンポーネント - ページャーセット01
			+l-markupBlock
				.c-pagerSet01
					ul
						li
							.box
								span 1
						li
							a(href="")
								.box
									span 2
						li
							a(href="")
								.box
									span 3
						li
							a(href="")
								.box
									span 4
						li
							a(href="")
								.box
									span 5
			+l-markupBlock
				+p-markupBtn('pug').
					.c-pagerSet01
						ul
							li
								.box
									span 1
							li
								a(href="")
									.box
										span 2

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_pagerSet01.styl