//- 複合コンポーネント - QandAセット01
+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('コンポーネント - QandAセット01')
			+l-markupBlock
				.c-qandaSet01.js-accordion
					ul
						li
							.titleBlock.js-accordion-parent.is-open
								p.icon
									span Q
								.textArea
									p.title タイトルが入ります
							.textBlock.js-accordion-child
								p.icon
									span A
								.textArea
									p.text テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
						li
							.titleBlock.js-accordion-parent
								p.icon
									span Q
								.textArea
									p.title タイトルが入ります
							.textBlock.js-accordion-child
								p.icon
									span A
								.textArea
									p.text テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			+l-markupBlock
				+p-markupBtn('pug').
					.c-qandaSet01.js-accordion
						ul
							li
								.titleBlock.js-accordion-parent.is-open
									p.icon
										span Q
									.textArea
										p.title タイトル
								.textBlock.js-accordion-child
									p.icon
										span A
									.textArea
										p.text テキスト

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_qandaSet01.styl