+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span コンポーネント - テーブルセット01
			+l-markupBlock
				.c-tableSet01
					table
						thead
							tr
								th テキスト
								th テキスト
								th テキスト
						tbody
							tr
								th テキスト
								td テキスト
								td テキスト
			+l-markupBlock
				+p-markupBtn('pug').
					.c-tableSet01
						table
							thead
								tr
									th テキスト
							tbody
								tr
									th テキスト
				+p-markupBtn('stylus')
					include ../../../stylus/_include/_components/_c_tableSet01.styl