+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span プラグイン - アコーディオン
			+l-markupBlock
				.js-accordion
					p.js-accordion-parent.is-open タイトル01
					p.js-accordion-child テキスト01
					p.js-accordion-parent タイトル02
					p.js-accordion-child テキスト02
					p.js-accordion-parent タイトル03
					p.js-accordion-child テキスト03

			+l-markupBlock
				+p-markupBtn('pug').
					.js-accordion
						.js-accordion-parent クリック要素（.is-openで展開）
						.js-accordion-child アコーディオン要素
				
				+p-markupBtn('js').
					const accordionSet = require('../_modules/accordionSet.js');

					//DOM読み込み後に入れる
					accordionSet({
						target: '.js-accordion', // 要素名
						parentName: '.js-accordion-parent', // クリック要素名
						childName: '.js-accordion-child', // アコーディオン要素名
						speed: 300, // 速度
						timing: 'ease', // タイミング
						linkage: true, // アコーディオン連動
						collapsible: true, // 折りたたみ有効
						setBefore: function() {},
						setAfter: function() {},
						animationAfter: function() {},
					});