+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span inView
			+l-markupBlock
				.a-fadeIn01.js-inview
					+m-btnSet01('p','フェードイン01','')

			+l-markupBlock
				+p-markupBtn('pug').
					.js-inview
						コンテンツ
				
				+p-markupBtn('js').
					const inView = require('../_modules/inView.js');

					//DOM読み込み後に入れる
					inView({
						className: '.js-inview', // 要素名
						changeTiming: 0, // 位置調整 0~0.5
						reverse: true, // 繰り返し
					});