//- mixn

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('プラグイン - slick01')

			+l-markupBlock
				.p-slick01
					.slideArea.js-slickSlider
						.slide
							+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')
						.slide
							+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')
						.slide
							+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')