//- mixn

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('プラグイン - swiper01')

			+l-markupBlock
				.p-swiper01
					.swiper-container.js-swiperSlider
						.swiper-wrapper
							.swiper-slide
								+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')
							.swiper-slide
								+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')
							.swiper-slide
								+m-imageSet01('p', 'https://placeimg.com/960/250/animals', 'dummy')