mixin c-newsSet01
	.c-newsSet01
		dl
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock
				p.text
					a(href=".pdf")
						span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock
				p.text
					a(href=".doc")
						span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
			dt.titleBlock
				p.date 2019/12/01
				p.tag タグ
			dd.textBlock
				p.text
					a(href="")
						span テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります