//- モジュール - ボタンモジュール01
.m-btnSet01
	marginBottom(30)
	
	a
		display block
		iconTagSet('.btnWrapper')
		color inherit
		border 1px solid #ccc
		text-decoration none

	.btnWrapper
		display block
		position relative
		padding 20px 40px 20px 20px
		box-sizing border-box
		
		
		&:after
			content ""
			display block
			position absolute
			top 50%
			right 10px

			width 16px
			height 16px
			margin 0 !important

			background-image url('../images/common/common_icon_arrow01.svg')
			background-repeat no-repeat
			background-size cover

			transform translate3d(0, -50%, 0)
