mixin m-borderRightTitle01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "m-borderRightTitle01",
			className: tg.className ? " " + tg.className : "",
		}
	div( class = op.baseName + op.className ).is-module
		block
		.group.is-primary
			#{op.tag}.com-title
				if tg.largeTitle
					span.is-large!= tg.largeTitle
				if tg.title
					span.is-title!= tg.title
				if tg.smallTitle
					span.is-small!= tg.smallTitle