+c-newsSet03
	.group.is-title
		.block.is-title
			+m-componentTitle01({tag:"p",text:"ニュース03"})
	.group.is-primary
		.block.is-title
			.area.is-title
				p INFORMATION
			.area.is-btn
				+m-borderBtn01({tag:"p",text:"VIEW MORE", url:"index.html", className:"m-iconSet"})
		.block.is-news
			ul
				li.m-iconSet
					a(href="")
						.titleBlock
							p.date 2019/12/01
							p.tag タグ
						.textBlock
							p.text
								span.moduleWrapper
									span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
				li.m-iconSet
					a(href=".pdf")
						.titleBlock
							p.date 2019/12/01
							p.tag タグ
						.textBlock
							p.text
								span.moduleWrapper
									span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
				li.m-iconSet
					a(href=".doc")
						.titleBlock
							p.date 2019/12/01
							p.tag タグ
						.textBlock
							p.text
								span.moduleWrapper
									span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります