+c-newsSet01
	.group.is-title
		.block.is-title
			+m-componentTitle01({tag:"p",text:"ニュース01"})
	.group.is-primary
		.block.is-news
			dl
				dt.titleBlock
					p.date 2019/12/01
					p.tag タグ
				dd.textBlock.m-iconSet
					p.text
						a(href=".pdf")
							span.moduleWrapper
								span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
				dt.titleBlock
					p.date 2019/12/01
					p.tag タグ
				dd.textBlock.m-iconSet
					p.text
						a(href=".doc")
							span.moduleWrapper
								span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
				dt.titleBlock
					p.date 2019/12/01
					p.tag タグ
				dd.textBlock.m-iconSet
					p.text
						a(href="")
							span.moduleWrapper
								span.moduleInner テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります