extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}
block header
	+c-templateHeader01
block footer
	+c-templateFooter01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			
			//- 背景タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_bgTitle01

			//- ラージタイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_largeTitle01

			//- 下線タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_borderBottomTitle01
			
			//- 左線タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_borderLeftTitle01
			
			//- 右線タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_borderRightTitle01
			
			//- 上線タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_borderTopTitle01
			
			//- 上下線タイトル01 ----------------------------------------------------------------------------------------------------------------------
			include _module_borderTopBottomTitle01
			