extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "home",
			URL: '',
			RELATIVE_PATH: '',
			TITLE: 'コーディングテンプレート',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: true,
			SIDE: false,
		}
block header
	+c-header01
block footer
	+c-footer01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+m-borderBottomTitle01({tag:"h3", title:"初期ページ"})
					p インストール完了！
				+l-columnBox({tag:"div"})
					+c-btnSet01({tag:"div", className: "is-center", colClass:"is-two"})
						li
							+m-borderBtn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-borderBtn01({tag:"p",text:"ボタン02", url:"index.html"})