+l-columnBox
	+l-bgBlock01
		+l-contentsWidth
			+l-mqWrapper
				h2.m-markupTitle
					span 背景レイアウト01

				+l-markupBlock
					+p-markupBtn('pug').
						+l-bgBlock01
							+l-contentsWidth
								コンテンツ

					+p-markupBtn('stylus')
						include ../../../stylus/_include/_layout/_l_bgBlock01.styl