+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span レイアウト - 基本
			+l-markupBlock
				+p-markupBtn('pug').
					+l-columnBlock 大レイアウト
						+l-columnBox 小レイアウト
							+l-contentsWidth コンテンツ幅
								+l-mqWrapper sp左右padding用
									コンテンツ

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_layout/_l_layoutSet.styl