mixin l-contentsWidth
	.l-contentsWidth
		block

mixin l-columnBlock
	.l-columnBlock
		block

mixin l-columnBox
	.l-columnBox
		block

mixin l-mqWrapper
	.l-mqWrapper
		block

mixin l-bgBlock
	.l-bgBlock
		block

mixin l-markupBlock
	.l-markupBlock
		block

mixin l-splitSet
	.l-splitSet
		block

mixin p-markupBtn(text)
	.js-accordion
		p.p-markupBtn.js-accordion-parent(class= text)
			!= text
		.source.js-accordion-child
			pre
				code
					block