extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "component",
			URL: '',
			RELATIVE_PATH: '../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			side: [false,"left"],
			HEADER: true,
			FOOTER: false,
			SIDE: false,
			jquery: true
		}
block header
	+c-templateHeader01
block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})

			+l-columnBlock({tag:"div"})
				+m-componentTitle01({tag:"p",text:"ボタンセット"})
				+l-columnBox({tag:"div"})
					//- 繰り返しのとき
					+c-btnSet01({tag:"div", colClass:"is-two",
						list:[{tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"},
							{tag:"p",text:"ボタン02", url:"index.html"},
							{tag:"p",text:"ボタン03", url:"index.html"}
						]
					})
					//- 個別にタグ指定したいとき
					//- +c-btnSet01({tag:"div", className: "is-center", colClass:"is-two"})
					//- 	li
					//- 		+m-btn01({tag:"p",text:"ボタン01", url:"index.html"})
					//- 	li
					//- 		+m-btn01({tag:"p",text:"ボタン02", url:"index.html"})
					//- 	li
					//- 		+m-btn01({tag:"p",text:"ボタン02", url:"index.html"})