extends /_include/_template/_t_base_template

block vars
	-
		var pageOption = {
			KEY: "canvas",
			URL: '',
			RELATIVE_PATH: '../../',
			TITLE: '',
			DESCRIPTION: '',
			KEYWORDS: '',
			HEADER: false,
			FOOTER: false,
			SIDE: false,
		}

block header
	+c-templateHeader01
block contents
	.c_canvasSliderSet01
		.canvasBlock
			canvas.canvasMain
		.btnBlock
		.textBlock
			.slide(data-pcimage='/assets/images/contents/dummy_bg01.jpg' data-spimage='/assets/images/contents/dummy_bg01_sp.jpg')
				p.title
					span 01
						br
						| TITLETITLETITLE
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
				p.btn
					a(href="")
						span btn
			.slide(data-pcimage='/assets/images/contents/dummy_bg02.jpg' data-spimage='/assets/images/contents/dummy_bg02_sp.jpg')
				p.title
					span 02
						br
						| TITLETITLETITLE
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
				p.btn
					a(href="")
						span btn
			.slide(data-pcimage='/assets/images/contents/dummy_bg03.jpg' data-spimage='/assets/images/contents/dummy_bg03_sp.jpg')
				p.title
					span 03
						br
						| TITLETITLETITLE
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
				p.btn
					a(href="")
						span btn