+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - テキストエリア01
			+l-markupBlock
				.m-inputTextarea01
					textarea
			+l-markupBlock
				+p-markupBtn('pug').
					.m-inputTextarea01
						textarea

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_form/_m_inputTextarea01.styl
