
mixin m-imageSet01(tag, image, alt)
	.m-imageSet01
		#{tag}.image
			img(src= image, alt= alt)
			block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - 画像モジュール01')
			
			+l-markupBlock
				+m-imageSet01('figure', 'https://placeimg.com/400/150/animals', 'dummy')
					figcaption テキストが入ります
				
			+l-markupBlock
				+m-imageSet01('p', 'https://placeimg.com/400/150/animals', 'dummy')
					figcaption テキストが入ります

			+l-markupBlock
				+p-markupBtn('pug').
					.m-imageSet01
						figure.image or p.image
							img(src="画像", alt="")
					
				+p-markupBtn('stylus')
					include ../../../stylus/_include/_modules/_m_imageSet01.styl