mixin m-iconlinkSet01(text, link, blank)
	if(blank=="_blank")
		a(href=link target="_blank")
			span!= text
			block
	else
		a(href=link)
			span!= text
			block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - アイコンセット')
			+l-markupBlock
				+m-defaultSet
					ul.is-disc
						li
							+m-iconlinkSet01('pdfファイル','sample.pdf')
						li
							+m-iconlinkSet01('ワードファイル','sample.doc')
						li
							+m-iconlinkSet01('エクセルファイル','sample.xls')
						li
							+m-iconlinkSet01('パワーポイントファイル','sample.ppt')
						li
							+m-iconlinkSet01('音楽ファイル','sample.mp3')
						li
							+m-iconlinkSet01('動画ファイル','sample.mp4')
						li
							+m-iconlinkSet01('その他ファイル','sample.rtf')
						li
							+m-iconlinkSet01('外部リンク','sample.html','_blank')

			
			+l-markupBlock
				+p-markupBtn('pug').
					a(href="sample.pdf")
						span pdfファイル
					a(href="sample.doc")
						span その他ファイル
					a(href="" target="_blank")
						span 外部リンクファイル

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_modules/_m__iconSet.styl