mixin is-pcOnly
	.is-pcOnly
		block
mixin is-spOnly
	.is-spOnly
		block

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - pc sp 切り替えセット')
			
			+l-markupBlock
				+is-spOnly
					+m-imageSet01('figure', 'https://placeimg.com/640/400/animals', 'dummy')
						figcaption spのみ表示されます
				+is-pcOnly
					.m-imageSet01
						+m-imageSet01('figure', 'https://placeimg.com/960/200/animals', 'dummy')
							figcaption pcのみ表示されます
			
			+l-markupBlock
				+p-markupBtn('pug').
					.is-pcOnly
						pcのとき表示したい要素
					.is-spOnly
						spのとき表示したい要素

				+p-markupBtn('stylus')
					include ../../../stylus/_include/_modules/_m_responsiveChange.styl