//- モジュール - ボーダートップボトムタイトル01
include _title_borderTopBottom01

//- モジュール - ボーダートップタイトル01
include _title_borderTop01

//- モジュール - ボーダーボトムタイトル01
include _title_borderBottom01

//- モジュール - ボーダーレフトタイトル01
include _title_borderLeft01

//- モジュール - ボーダーライトタイトル01
include _title_borderRight01

//- モジュール - 強調タイトル01
include _title_boldLarge01

//- モジュール - 複数文字タイトル01
include _title_twoWord01