//- モジュール - ボーダートップボトムタイトル01
include _m_title_borderTopBottom01

//- モジュール - ボーダートップタイトル01
include _m_title_borderTop01

//- モジュール - ボーダーボトムタイトル01
include _m_title_borderBottom01

//- モジュール - ボーダーレフトタイトル01
include _m_title_borderLeft01

//- モジュール - ボーダーライトタイトル01
include _m_title_borderRight01

//- モジュール - 強調タイトル01
include _m_title_boldLarge01

//- モジュール - 複数文字タイトル01
include _m_title_twoWord01

//- モジュール - 背景タイトル01
include _m_title_bg01