mixin m-title-borderLeft01(tag,text)
	#{tag}.m-title-borderLeft01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボーダーレフトタイトル01')
			+l-markupBlock
				+m-title-borderLeft01('h3','ボーダーレフトタイトル01')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderLeft01
						span タイトル
				
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderLeft01.styl