mixin m-title-borderBottom01(tag,text)
	#{tag}.m-title-borderBottom01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボーダーボトムタイトル01')
			+l-markupBlock
				+m-title-borderBottom01('h3','ボーダーボトムタイトル01')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderBottom01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderBottom01.styl
