mixin m-title-borderRight01(tag,text)
	#{tag}.m-title-borderRight01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボーダーライトタイトル01')
			+l-markupBlock
				+m-title-borderRight01('h3','ボーダーライトタイトル01')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderRight01
						span タイトル
				
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderRight01.styl
