mixin m-title-bg01(tag,text)
	#{tag}.m-title-bg01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - 背景タイトル01')
			+l-markupBlock
				+m-title-bg01('h3','背景タイトル01')
			
			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-bg01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_bg01.styl