mixin m-title-borderTop01(tag,text)
	#{tag}.m-title-borderTop01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボーダートップタイトル01')
			+l-markupBlock
				+m-title-borderTop01('h3','ボーダートップタイトル01')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderTop01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderTop01.styl