+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - ボーダーライトタイトル01
			
			+l-markupBlock
				h3.m-title-borderRight01
					span タイトル

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderRight01
						span タイトル
				
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderRight01.styl
