+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - 複数文字タイトル01

			+l-markupBlock
				h3.m-title-twoWord01
					span.is-large ラージタイトル
					span.is-small スモールタイトル

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-twoWord01
						span.is-large ラージタイトル
						span.is-small スモールタイトル
				
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_twoWord01.styl
