mixin m-title-borderTopBottom01(tag,text)
	#{tag}.m-title-borderTopBottom01
		span!= text

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - ボーダートップボトムタイトル01')
			+l-markupBlock
				+m-title-borderTopBottom01('h3','ボーダートップボトムタイトル01')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderTopBottom01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderTopBottom01.styl