mixin m-title-twoWord01(tag,large,small)
	#{tag}.m-title-twoWord01
		span.is-large!= large
		span.is-small!= small

+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			+m-markupTitle('モジュール - 複数文字タイトル01')

			+l-markupBlock
				+m-title-twoWord01('h3','複数文字タイトル01','スモールタイトル')

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-twoWord01
						span.is-large ラージタイトル
						span.is-small スモールタイトル
				
				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_twoWord01.styl
