+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - ボーダートップボトムタイトル01
			+l-markupBlock
				h3.m-title-borderTopBottom01
					span タイトル

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-borderTopBottom01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_m_titleModules/_m_title_borderTopBottom01.styl