+l-columnBox
	+l-contentsWidth
		+l-mqWrapper
			h2.m-markupTitle
				span モジュール - 強調タイトル01
			
			+l-markupBlock
				h3.m-title-boldLarge01
					span タイトル

			+l-markupBlock
				+p-markupBtn('pug').
					h3.m-title-boldLarge01
						span タイトル

				+p-markupBtn('stylus')
					include ../../../../stylus/_include/_modules/_title/_m_title_boldLarge01.styl